.App {
  background-color: #000639;
  text-align: center;
}

button {
  background-color: #5c6ac4;
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 16px;
}
.dash {
  color: #7AB55C;
  text-align: left;
}

.email-warning {
  color: #C23628;
  font-family: "Helvetica";
}

.free-tips {
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 16px;
}

.thanks {
  color: #FFFFFF;
  font-family: "Helvetica";
}


.title {
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 24px;
}
