.App {
  background-color: #000639;
  padding-bottom: 400px;
  padding-top: 200px;
}

.box {
  margin-left: 470px;
  margin-right: 470px;
  text-align: left;
}

button {
  background-color: #5c6ac4;
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 16px;
  clear: both;
}
.dash {
  color: #7AB55C;
  text-align: left;
}

.dropdown {
  margin-right: 30px;
}

.email-biz {
  margin-left: 30px;
}

.email-warning {
  color: #C23628;
  font-family: "Helvetica";
}

.free-tips {
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 16px;
  margin-top: 50px;
}

/*.header {
  margin-left: 150;
  margin-right: 150;
}*/

.inputs {
  align-content: center;
}

.thanks {
  color: #FFFFFF;
  font-family: "Helvetica";
}


.title {
  color: #FFFFFF;
  font-family: "Helvetica";
  font-size: 24px;
  margin-bottom: 10px;
}
